.trusted{
    width: 100%;
    background-color: whitesmoke;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
}
.trusted > div{
    max-width: 1100px;
    width: 100%;
}

.trusted h1{
    background-color: aqua;
    color: black;
    font-size: 32px;
    margin-bottom: 10px;
    text-align: left;
}

.trusted > div p{
    max-width: 500px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.boxContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.boxContainer section{
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 6px lightgray;
}

.boxContainer img{
    width: 100px;
    margin-bottom: 15px;
}

.boxContainer h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.boxContainer p{
    font-size: 14px;
    color: gray;
    margin-bottom: 15px;
}

.boxContainer button{
    background-color: transparent;
    color: green;
    border: none;
    cursor: pointer;
}